@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wire+One&display=swap');
@import url('./variables.css');
@import url('./navbar.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

#container {
    background-image: url(/images/background-mobile.png);
    background-size: cover;
}

a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-neutral-2);
    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        background-color: var(--color-primary-1);
        color: var(--color-neutral-0);
    }
}

#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title {
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description {
        color: var(--color-neutral-7);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions{
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }

}

